<!-- copie de new (formulaire ) -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1 class="text-center">Editer le produit</h1>

      <!-- création de formulaire rails  possible avec form_for-->
      <!-- cf. _form.html -->
      <%= render "form" %>


    </div>
  </div>
</div>
