<h1 class="text-center"> Le détail du produit</h1>
<h2 class="text-center">
  <%=@product.name%>
</h2>

<h3 class="text-center">
 URL: <%=@product.url%>
</h3>
<p class="text-center">
  <%=link_to "Retour à la liste des produits",products_path, class: "btn btn-primary"%>
</p>
